# 1) more complex boundaries in linear regression

In [1]:
## loading boston datasets
from sklearn import datasets
boston = datasets.load_boston()
x = boston.data
y = boston.target
print(type(x))
x.shape, y.shape

<class 'numpy.ndarray'>

((506, 13), (506,))

In [2]:
## making a dataframe of boston dataset for manipulation
import pandas as pd
df = pd.DataFrame(x)
print(boston.feature_names)
df.columns = boston.feature_names
df["age_age"] = df.AGE ** 2
print()

print("type of df.AGE is :", type(df.AGE))
print("type of df[""AGE""] is :", type(df["AGE"]));
print("df.AGE dtype is :", df.AGE.dtype)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

type of df.AGE is : <class 'pandas.core.series.Series'>
type of df[AGE] is : <class 'pandas.core.series.Series'>
df.AGE dtype is : float64

In [3]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,age_age
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,5493.309545
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,3449.600164
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,8.410000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,2027.252500
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,6006.290000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,8850.107500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,10000.000000

In [4]:
### convert dataframe to numpy array
x2 = df.values 
print("type of x2 = df.values ::", type(x2))
print("shape of new boston data ::" , x2.shape)
print("shape of data frame ::", df.shape)

type of x2 = df.values :: <class 'numpy.ndarray'>
shape of new boston data :: (506, 14)
shape of data frame :: (506, 14)

In [5]:
## split the datasets into trining and testing datasets
from sklearn import model_selection
x_train , x_test , y_train , y_test = model_selection.train_test_split(x , y , random_state = 0)
x2_train , x2_test , y2_train , y2_test = model_selection.train_test_split(x2 , y , random_state = 0)

In [6]:
## train your algorithm with training datasets
from sklearn.linear_model import LinearRegression
algo1 = LinearRegression()
algo2 = LinearRegression()
algo1.fit(x_train, y_train)
algo2.fit(x2_train, y2_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
## test your algorithm
train_score1 = algo1.score(x_train , y_train)
test_score1 = algo1.score(x_test , y_test)
train_score2 = algo2.score(x2_train , y2_train)
test_score2 = algo2.score(x2_test , y2_test)

print("train score of 1 :" , train_score1)
print("train score of 2 :" , train_score2)
print("test score of 1 :" , test_score1)
print("test score of 2 :" , test_score2)

train score of 1 : 0.7697699488741149
train score of 2 : 0.7707245449911091
test score of 1 : 0.6354638433202129
test score of 2 : 0.6433109272342966

# 2) gradient descent

In [8]:
import numpy as np

In [9]:
def cost(points, m, c):
    total_cost = 0
    N = len(points)
    for i in range(N):
        x = points[i , 0]
        y = points[i , 1]
        total_cost += (1/N) * ((y - m * x - c) ** 2)
    return total_cost


def step_gradient(points, learning_rate, m, c):
    m_slope = 0
    c_slope = 0
    N = len(points)
    for i in range(N):
        x = points[i][0] ## 0th column of ith row
        y = points[i, 1] ## 1st column of ith row
        m_slope += (-2/N) * (y - m*x - c) * x
        c_slope += (-2/N) * (y - m*x - c)
    new_m = m - learning_rate * m_slope
    new_c = c - learning_rate * c_slope
    return new_m , new_c
    
    
def gd(points, learning_rate, num_iteration):
    m = 0; c = 0
    for i in range(num_iteration):
        m, c = step_gradient(points, learning_rate, m, c)
        print("i :", i, " cost :", cost(points, m, c))
    return m, c

def run():
    data = np.loadtxt("data.csv", delimiter = ",")
    learning_rate = 0.0001
    num_iteration = 38
    print("shape of data ::", data.shape)
    m, c = gd(data, learning_rate, num_iteration)
    print(m, c)

In [10]:
run()

shape of data :: (100, 2)
i : 0  cost : 1484.5865574086486
i : 1  cost : 457.8542575737672
i : 2  cost : 199.5099857255389
i : 3  cost : 134.50591058200533
i : 4  cost : 118.1496934223995
i : 5  cost : 114.0341490603815
i : 6  cost : 112.99857731713657
i : 7  cost : 112.73798187568467
i : 8  cost : 112.6723843590911
i : 9  cost : 112.65585181499745
i : 10  cost : 112.65166489759581
i : 11  cost : 112.6505843615011
i : 12  cost : 112.65028544701502
i : 13  cost : 112.65018320293967
i : 14  cost : 112.650130445072
i : 15  cost : 112.65009013922885
i : 16  cost : 112.6500529669463
i : 17  cost : 112.65001658353178
i : 18  cost : 112.64998039901865
i : 19  cost : 112.64994426496071
i : 20  cost : 112.64990814400622
i : 21  cost : 112.64987202675677
i : 22  cost : 112.64983591084761
i : 23  cost : 112.64979979568368
i : 24  cost : 112.64976368111523
i : 25  cost : 112.64972756710469
i : 26  cost : 112.64969145364236
i : 27  cost : 112.64965534072611
i : 28  cost : 112.64961922835512
i : 29  cost : 112.64958311652944
i : 30  cost : 112.64954700524868
i : 31  cost : 112.64951089451318
i : 32  cost : 112.64947478432279
i : 33  cost : 112.64943867467744
i : 34  cost : 112.64940256557728
i : 35  cost : 112.64936645702221
i : 36  cost : 112.64933034901203
i : 37  cost : 112.64929424154704
1.4788759106351557 0.03135102019557585

# 3) Generic Gradient Descent

In [11]:
## to do

# 4) stochatic and mini batch gradient

In [12]:
## to do